/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    scroll-behavior: smooth;
}

/* commentaire */
header, main, footer{
    /* border-style: solid;
    border-width: 2px;
    border-color: rgba(51, 153, 255, 0.8); */
    /* 0.8= opacité */
    padding: 5px;
    background-color: rgb(153, 153, 153);
}

header {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: rgb(51, 153, 153);
}

/* appel par id */
#container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 8fr 1fr;
}

/* appel par balise */
header > nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

/* appel par class */
header > nav > ul.liste{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

header > nav > i.fa-bars{
    display: none;
}

section{
    height: 400px;
    padding-top: 7vh;
}

p{
    margin-top: 10px;
}

/* media query */
@media screen and (max-width: 768px){
    header > nav > ul.liste{
        display: none;
    }
    header > nav > i.fa-bars{
        display: block;
    }
    header > nav.open{
        position: fixed;
        width: 100%;
        flex-direction: column;
        background: lightgray;
        top: 0;
        left: 0;
    }
    header > nav.open > ul.liste{
        justify-content: space-around;
        flex-direction: column;
        display: flex;
    }
}
